@import "./custom-properties.css";

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

.jumpTo {
/*   background: #f00; */
  text-align: center;
}

.jumpTo > div {
  background-color: #165596c2;
  color: white;
  padding: 0.2rem;
}

.jumpTo:hover {
  transform: scale(0.9);
}

.jumpTo img {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
}
